# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# ML artifacts
*.pkl
*.joblib
*.pt
*.onnx

# MLflow
mlruns/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Logs
*.log
